.entries {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    text-align: start;
    font-family: cursive;
}

.entryTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.entryTitle a {
    color: black;
    text-decoration: none;
}

.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}