.tableOfContents {
    width: 500px;
    height: 700px;
    background-image: url('/page-background.avif'); /* Adjust path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 
        0 -10px 40px rgba(0, 0, 0, 0.8),
        inset 10px 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    text-align: start;
}

.tocTitle {
    margin: 30px 10px 30px 10px;
    font-family: fantasy;
}

.entriesContainer {
    margin: 30px 10px 30px 10px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}