.tableOfContents {
    width: 500px;
    height: 700px;
    background-image: url('/page-background.avif'); /* Adjust path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #3e2c1a;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    text-align: start;
}

.tocTitle {
    margin: 30px 10px 30px 10px;
}

.entriesContainer {
    margin: 30px 10px 30px 10px;
}