.tableOfContentsPage {
    width: 500px;
    height: 700px;
    background-image: url('/page-background.avif'); /* Adjust path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 
        0 -10px 40px rgba(0, 0, 0, 0.8),
        inset 10px 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.tocTitle {
    font-family: fantasy;
    margin: 50px 20px 30px 20px;
    text-align: center;
}

.entriesContainer {
    margin: 0 20px 30px 20px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: start;
}